<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Galal Project</title>
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>
<div id="title">
    <h1><strong> A Well-Designed Dashboard </strong></h1>
</div>
<div id="container5">
    <h2> Profit by Month </h2>
    <h2> Cost, Profit, Revenue for Every Branch </h2>
</div>
<div id="container6">
    <div id="chartdiv1"></div>
    <div id="chartdiv3"></div>
</div>

<div id="container1">
    <h2> Profit per Region </h2>
    <h2> Profit by Product </h2>
    <h2> Cost of each Product </h2>
</div>
<div id="container2">
    <div id="chartdiv2"></div>
    <div id="chartdiv4"></div>
    <div id="chartdiv5"></div>
</div>
<div id="container3">
    <h2> Revenue by Year & Product </h2>
</div>
<div id="container4">
    <div id="chartdiv6"></div>
</div>

<script src="https://cdn.amcharts.com/lib/5/index.js" type="text/javascript"></script>
<script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
<script src="https://cdn.amcharts.com/lib/5/xy.js" type="text/javascript"></script>
<script src="https://cdn.amcharts.com/lib/5/percent.js" type="text/javascript"></script>
<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js" type="text/javascript"></script>
<script src="../static/chart1.js"></script>
<script src="../static/chart2.js"></script>
<script src="../static/chart3.js"></script>
<script src="../static/chart4.js"></script>
<script src="../static/chart5.js"></script>
<script src="../static/chart6.js"></script>
</body>
</html>
